/*--------------------Google Fonts */

@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=Lato:ital,wght@0,300;0,400;0,700;1,400;1,700&display=swap');

/*--------------------Colours */

body {
    background-color: #C9CFD3;
    color: #37404F;
    text-align: center;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
}

  main {
    flex-grow: 1; /* Allow the main content to grow and push the footer */
  }

.page-section-color-bg {
    background-color: #C9CFD3;
}

/*-----------------------------------------Special paddings/ margins/ text */
h1,
h2,
h3,
h4
h5 {
    margin: 0;
}

.uppercase {
    text-transform: uppercase;
}



/*------ Sections */

.row-section {
    padding-top: 28px;
    padding-bottom: 28px;
}

.page-section-plain-bg {
    width: 100%;
    padding-right: 16px;
    padding-left: 16px;
    margin-right: auto;
    margin-left: auto;
}

.inline-block {
    display: inline-block;
}
/*----- SPMT - Titles/ subheadings */

.title {
    font-family: 'Josefin Sans', 'Lato', sans-serif;
    font-weight: 600;
    padding-bottom: 12px;
}

.small-title {
    font-family: 'Josefin Sans', 'Lato', sans-serif;
    font-weight: 600;
}

.general-sub {
    font-family: 'Lato', sans-serif;
    font-weight: 700;
}

img {
  display: block;
  width: 100%;
  margin-bottom: 30px;
}


.background-image {
    object-fit: cover;
}

/*-----Body copy */

.right-hand-text,
.left-hand-text {
    padding-top: 28px;
}

.set-width {
    max-width: 400px;
}

.row-section {
    padding-top: 28px;
    padding-bottom: 28px;
}

.sub-page-header {
    padding: 28px 0 16px 0;
    font-size: xx-large;
}

/*--------------------- Nav Bar -------------*/

header {
    margin: 0;
}


nav {
    background-color: #37404F;
}

.navbar-brand {
    margin: 0;
}

.logo {
    font-family: 'Josefin Sans', 'Lato', sans-serif;
    font-weight: 600;
    margin: 20px;
    color: #C9CFD3;
    text-decoration: none;
}



header hr {
    margin: 0px;
}

.lead-hero {
    text-align: center;
    padding: 16px 32px 28px 32px;
}

.navbar-light .navbar-nav .nav-link {
    color: #C9CFD3;
}

.nav-link:hover {
    border-color: #E03202;
}



/* ------------------------------------- Page Header & Page Nav Transitions */
/* Hover classes originally sourced from Stack Overflow article (see more in READ.ME) */

.page-nav {
    font-size: 22px;
}
.page-nav-item a {
    text-decoration: none;
    color:#37404F;
}

.page-nav-item {
    margin-left: 28px;
    margin-right: 28px;
    border-bottom: 1px solid transparent;
    transition: all 0.35s ease-in-out;
    -moz-transition: all 0.35s ease-in-out;
    -webkit-transition: all 0.35s ease-in-out;
    -o-transition: all 0.35s ease-in-out;
}

.page-nav-item:hover {
    border-color: #E03202;
}


/*--------------------- Buttons -------------------*/

.btn-outline-light i,
.btn-outline-dark i {
    font-size: 12px;
    padding: 0 4px 0 4px;
}

.btn-outline-light,
.btn-outline-dark {
    border-color: #E03202;
    color: #E03202;
}

.btn-outline-dark:hover {
    color: #E03202;
    background-color: #8B93A6;
}

.btn-outline-light:hover {
    color: #E03202;
    background-color: #8B93A6;
}

#copy-btn {
    background-color: #37404F;
    border: 2px solid #E03202;
    color: #E03202;
    margin-bottom: 20px;
}

#copy-btn:hover{
    background-color: #37404F;
    border: 2px solid #E03202;
    color: #E03202;
}
/* -------------Footer---------------- */

footer {
  background-color: #37404F;
  color: #C9CFD3;
  min-height: 120px;
  margin-top: auto;
}

.contact-details p a {
    color: #C9CFD3;
    text-decoration: none;
}

#footer-details {
    padding: 32px 16px 16px 16px;
}

.social-links li a i {
    font-size: 32px;
    text-align: center;
    color:#C9CFD3;
    margin: 0;
    transition: all 0.35s ease-in-out;
    -moz-transition: all 0.35s ease-in-out;
    -webkit-transition: all 0.35s ease-in-out;
    -o-transition: all 0.35s ease-in-out;
}

.social-links li a i:hover {
    color: #E03202;
}

footer hr {
    margin: 0px;
}

.copyright {
    padding-top: 16px;
    padding-bottom: 28px;
}


/*--------------TextArea -------------*/

.message-form textarea {
    max-height: 400px;
    resize: vertical;
  }

  .message-form {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-bottom: 80px;
  }

  .message-form {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }

  .message-form label {
    display: inline-block;
    background:#C5C8C7;
    color: #1D1D1D;
    transform: translate(-20px, 22px);
    padding: 0 10px;
  }

  .message-form :is(input, textarea) {
    display: block;
    width: 100%;
    padding: 20px;
    background: transparent;
    border: 1px solid #37404F;
    color: #37404F;
    letter-spacing: 0.5px;
    outline: none;
  }

  .message-form textarea {
    max-height: 400px;
    resize: vertical;
  }


.message-div {
    margin: 20px;
}

  .message-form :is(input, textarea):hover {
    border-color: #37404F;
  }

  .message-form :is(input, textarea):focus {
    border-color: #E03202;
  }

  .message-form button {
    background: #37404F;
    color: #C9CFD3;
    font-weight: 600;
    text-transform: uppercase;
    border: 2px solid hsla(100, 100%, 100%, 0.2);
    width: 100%;
    text-align: center;
    padding: 15px;
    margin-top: 20px;
    transition: var(--default-transition);
  }

  .message-form button:hover {
    color: #E03202;
    border-color: #E03202;
  }


/*=============Media Queries==========*/
@media (min-width: 320px) {

 img {
  display: block;
  margin-left: auto;
  margin-right: auto;
 }


 .page-nav {
    font-size: 18px;
}

 .lead-hero h1 {
    font-size: 28px;
}

 .about-image {
  padding: 12px;
 }

 .logo {
  font-size: 18px;
}

#our-history {
    font-size: 16px;
    overflow: hidden;
}

.lead homepage-section-text {
    font-size: 16px;
}


}

@media (min-width: 500px) {

  .decode-image {
    margin-top: 30px;
  }

  .page-nav {
    font-size: 22px;
}

#our-history {
    font-size: 16px;
    overflow: hidden;
}

 }


 @media (min-width: 1024px) {

  .lead-hero h1 {
    font-size: 32px;
}

 }
